*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Akrobat, Helvetica, sans-serif;
}
@font-face {
    font-family: Akrobat;
    src: url(fonts/Akrobat.woff);
}

/*HEADER 1ST BLOCK*/

header{
    position: relative;
    width: 100%;
}
.top{
    background-color: white;
    padding: 20px 0;
}
.contact, .contact-menu{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: inline-block;
    justify-content: space-evenly;
    list-style: none;
}
.contact ul li{
    line-height: 2em;
    font-weight: bolder;    
}
a{
    display: block;
    text-decoration: none;
    font-size: 1.2em;    
}
/*logo*/
.logo img{
    position: relative;
    width: 60px;
    height: 60px;
}
/*icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined{
    vertical-align: middle;
    font-size: 18px;
    color: lightgrey;
}

/*search btn*/

.search input{
    height: 40px;
    width: auto;
    border-radius: 6px;
    border: 1px solid black;
    text-align:left;
    padding-left: 10px;    
}
.search input:focus{
    outline: none !important;
    border: 1px solid green;
}
/*lang button*/

.lang {
   vertical-align: middle;
}
.lang li button{
    width: 40px;
    height: 20px;   
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    background-color: #fff;  
    border: 1.5px solid black;  
    border-radius: 5px;
}
.lang li button:hover{   
    border: 1px solid green;
}

/*HEADER 2ND BLOCK*/

nav{
    background-color: green;
    position: relative;
    height: 50px;
    line-height: 3em;
}
ul.menuList{
    display: flex;
    justify-content: space-between;
    list-style: none;    
}
nav ul{
    width: 100%;
}

nav ul li a{
    color: white;
    font-size: 1em;
}
nav ul li a:hover{
    color:brown;
    text-decoration: none;
}





/*checkbox & menu style*/
.contact-menu #menu{
    display: none !important;
}
.contact-menu label{
    color: #fff;
    font-size: 1.2em;
    padding: 5px 0;
    display: none;    
}


/*CAROUSEL SECTION*/

.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0 !important;
    margin-left: 0 !important;    
}
.container-fluid .carousel-inner{
    height: 500px;
   
}
.carousel-caption{
    position: relative;
    top: 50px;
    text-align: left !important;    
}
.carousel-caption h1{
    color: black;
    font-weight: bold;
}
.carousel-caption .btn{
    width:auto;
    height: 40px;
    background-color: rgb(215, 125, 14);
    color: white;
    font-size: large;   
}
.carousel-caption .btn:hover{
    color:rgb(215, 125, 14);
    background-color: white;        
}
.carousel-indicators{
    z-index: -999;
}



/*PRODUCTION GRID*/

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;    
    padding:0 50px;
    z-index: 111;
    position: relative;
}
.grid-container > div{
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    margin-top: -50px;
    border: 1px solid lightgrey;
    border-radius: 5px;    
}
.grid-container > div >h1{
    color: green;
    font-weight: bold;
}

.another-grid{    
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    position: relative;
    justify-content: space-between;    
}
.another-grid .card{
    width: 150px;
    height: 180px;
    border: 1px solid red;
    text-align: center;
}
.another-grid > .card > .card-img{
    background-color: #fff;
    height: 120px;
    text-align: center;
    padding: 5px;    
    border: 1px solid rgb(43, 213, 16);
    border-radius: 5px;   
}
.another-grid > .card > .card-img > span{
   font-size: 100px;
   color: green;
}
/*Production label*/
.production-label{
    width: 60%;
    margin: auto;
    text-align: center;   
    padding: 30px;
}
.production-label>h1{
    font-weight: bolder;
    color: rgb(215, 125, 14);
}
/*MEDIA*/

@media(max-width:960px){
    .logo img{
        width: 40px;
        height: 40px;
    }
    label{
        display: block !important;
        margin-left: 40px;       
    }    
    .contact{
        padding: 0 40px;
        display:inline-block;         
    }
    .contact .street, .email, .phone, .search, .lang{
        display: inline-table;
        margin: 10px 15px;
        width: auto;              
    }
    .contact .search, .lang{
        position: relative;
        top: 1em;
    }    
    .contact ul li{
        line-height: 1.5em;        
    }
    
    .contact-menu .menuList{
        position: absolute;
        top: 50px;
        left: -100%;
        background: green;
        flex-direction:column;        
        width: 100vw;               
        z-index: 222;
        transition: 1s;        
        padding: 0px !important;
        
    }    
    .contact-menu #menu:checked ~ ul{
        left: 0;        
        transition: ease-in-out 1s;
    } 
    .contact-menu .menuList li{
        margin: 0 !important;                     
    }    
    .contact-menu .menuList li a{        
        padding: 0px;        
        text-align: center;
    }
    .contact-menu .menuList li a:focus{
        background: #ff0;
        text-decoration: none;
    }
    .container-fluid .carousel-indicators{
        top: 400px;
    }
    .grid-container > div{
        margin-top:-100px ;
    }
    .another-grid{            
        justify-content: space-evenly;    
    }
    
}
@media(max-width:420px){
    .contact .street, .email, .phone, .search, .lang{
        display: inline-table;
        margin: 5px;
        width: 100vw;        
    }  
    .container-fluid .carousel-indicators{
        top: 180px;
    }
    .carousel-caption{
        position: relative;
        top: 0px;
        margin-left: 0px;    
    }
    .carousel-caption h1{
        font-size:medium;
    }
    .carousel-caption .btn{      
        height: 40px;       
    }
    .container-fluid .carousel-inner {
        height: 220px;
        margin-bottom: 0px !important;
    }
      
    .carousel-indicators{
        display: none;
    }
    .grid-container{        
        flex-direction: row;
        padding:5px;    
    }
    .grid-container > div{
        margin-top: 0;
        padding: 5px;
    }    
    .production-label{
        padding: 5px;
    }
    .production-label h1, h4{
        font-size:medium;
    }
    .another-grid{
        flex-direction: row;     
        margin-left: 0px !important;
        position: relative;
    }
    .another-grid .card{
        width: 100px;
        height: 150px;        
    }
    .another-grid > .card > .card-img{        
        height: 90px;        
        padding: 3px; 
          
    }
    .another-grid > .card > .card-img > span{
       font-size: 75px;      
    }
    .another-grid h4{
        font-size: medium;
    }
}